[Unit]
Description=ETSI ITS Bridge server
After=network.target

[Service]
Type=simple
ExecStart=/etc/init.d/its_bridge_server -c /home/$VENDOR/etc/its_bridge/server.conf
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
