[Unit]
Description=ETSI ITS Bridge client
After=network.target

[Service]
Type=simple
ExecStart=/etc/init.d/its_bridge_client -c /home/etsi/frameworks/its_bridge/etc/client.conf
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
